body.nc{
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.del{
  text-decoration-line: line-through;
  text-decoration-color: red;
}
